In [2]:
import os
import pandas as pd
import inro.modeller as _m

# Emme tools
mm = _m.Modeller()
tmg_import = 'tmg.input_output.import_binary_matrix'
import_mat = mm.tool(tmg_import)
inro_change_mat = 'inro.emme.data.matrix.change_matrix_properties'
change_mat = _m.Modeller().tool(inro_change_mat)
eb = _m.Modeller().emmebank

# matrix to pandas 
def mat_to_pddf(id, scen):
    mat = eb.matrix(id).get_data(scen)
    zones_tupl = mat.indices
    indices = pd.Index(zones_tupl[0])
    indices.name = 'p'
    cols = pd.Index(zones_tupl[1])
    cols.name = 'q'
    matrix = mat.to_numpy()
    return pd.DataFrame(matrix, index=indices, columns=cols)

### Change below as needed for analysis

In [64]:
ml_transztsa = mat_to_pddf('mf3', 9999)

In [65]:
ml_transztsa.head()

q,1001,1002,1003,1004,1005,1006,1007,1008,1009,1010,...,9922,9923,9924,9925,9926,9927,9928,9983,9984,9985
p,,,,,,,,,,,,,,,,,,,,,
1001,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.730292
1002,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.682499
1003,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,10.802456
1004,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.175221
1005,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.230237

In [66]:
loc = r"C:\Users\pechen\Desktop\BoltonGO_TripsAnalysis"
zone = "BoltonZones.csv"
zonekeep = pd.read_csv(os.path.join(loc, zone))
boltons_ztsa = zonekeep.merge(ml_transztsa, left_on = "TAZ", right_on="p", how="inner").set_index('TAZ')
boltons_ztsa.loc['total_caledon'] = boltons_ztsa.sum()
boltons_ztsa = boltons_ztsa.loc['total_caledon'].transpose()
boltons_ztsa.to_csv(os.path.join(loc, "boltons_ztsa_summary.csv"), header=True)