In [91]:
import pandas as pd
import os

In [92]:
originalODfile = r"C:\Users\Public\Kelowna\Kelowna\mf2.csv"
zoneMappingfile = r"C:\Users\Public\Kelowna\Kelowna\ZoneMapping.csv"
input_path = r"C:\Users\Public\Kelowna\Kelowna"

In [93]:
originalOD = pd.read_csv(originalODfile).set_index("p/q/[val]")
originalOD=originalOD.stack().reset_index()
print(originalOD.columns.values)
originalOD=originalOD.rename(columns={'p/q/[val]': 'Origin', 'level_1': 'Dest'})
print(originalOD.columns.values)
zoneMapping = pd.read_csv(zoneMappingfile)

['p/q/[val]' 'level_1' 0]
['Origin' 'Dest' 0]

In [94]:
#originalOD.reset_index()

In [95]:
originalOD.head()

   Origin Dest     0
0       1    1   0.0
1       1    2   0.0
2       1    3  30.0
3       1    4   0.0
4       1    5  43.0

In [96]:
zoneMapping.head()

   Original Zone  New Zone  Emp Split
0           2500     25001       0.50
1           2500     25002       0.50
2           4080     40801       0.34
3           4080     40802       0.33
4           4080     40803       0.33

In [97]:
newOD = pd.DataFrame(columns=['Origin','Dest','val'])
for index, row in originalOD.iterrows():
    for index2,row2 in zoneMapping[zoneMapping["Original Zone"] == row["Origin"]].iterrows():
        for index3,row3 in zoneMapping[zoneMapping["Original Zone"] == int(row["Dest"])].iterrows():
            entry = {"Origin":row2["New Zone"], "Dest":row3["New Zone"], "val": row[0]*row2["Emp Split"]*row3["Emp Split"]}
            newOD=newOD.append(entry,ignore_index=True )

In [98]:
newOD_un=newOD.set_index(keys=['Origin','Dest'])
newOD_un=newOD_un.unstack()

In [99]:
newOD_un.to_csv(r"C:\Users\Public\Kelowna\Kelowna\mf2_unstacked.csv")

(4172.279999999999, 4172.280000000001)